@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 267, 84%, 81%;
  --background-start-rgb: 240°, 21%, 15%;
  --background-end-rgb: 240°, 21%, 15%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(202, 166, 247);
  background: rgb(30, 30, 46);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}